* {
  box-sizing: border-box;
}

/* Color variables */
:root {
  --white: #d4d4d4 !important;
  --grey: #9e9e9e !important;
  --red: #510000 !important;
  --darkgrey: #2b2b2b !important;
  --black: #151515 !important;

  --white-rgba: rgba(212, 212, 212, 0.9);
  --grey-rgba: rgba(158, 158, 158, 0.9);
  --red-rgba: rgba(81, 0, 0, 0.9);
  --darkgrey-rgba: rgba(43, 43, 43, 0.9);
  --black-rgba: rgba(21, 21, 21, 0.9);
}

/* General styling of the page and elements */
html {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 10px;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--white) !important;
  background: url(https://patrunjel.com/portfolio/assets/images/brick-md.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
  line-height: 2 !important;
}

h1,
h2 {
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
  font-kerning: none;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  background: transparent;
  margin: 0 !important;
}

h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
  text-align: justify;
  padding: 2rem 0 0 0;
  color: white;
}

button:hover,
a:hover,
button:focus,
a:focus,
button:active,
a:active {
  outline: none;
  text-decoration: none;
}

.row {
  margin: 0 !important;
}

.col-sm-6 {
  max-width: 100% !important;
}

/* ------------------------------------------------------------------------
------------------------------ Navigation ---------------------------------
--------------------------------------------------------------------------- */
.logo {
  width: 4em;
}

.navbar-custom {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--darkgrey-rgba);
  color: var(--white);
  padding: 0.5rem 1rem;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1.5rem 0 !important;
}

.navbar-toggler {
  font-size: 1.4rem !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.active {
  -webkit-text-decoration: underline overline;
  -webkit-text-decoration-color: var(--red);
  text-decoration: underline overline !important;
  text-decoration-color: var(--red) !important;
  color: white !important;
}

/* ------------------------------------------------------------------------
------------------------------------  Content  ----------------------------
--------------------------------------------------------------------------- */
#content-row {
  padding: 6rem 0 3rem 0 !important;
}

.image-container {
  padding: 3rem 0.5rem;
}

.img-wrapper {
  position: relative;
  width: 90%;
  margin: 1em 1em 0 0;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 4%;
  bottom: 4%;
  border: 2px solid var(--red) !important;
  box-sizing: border-box;
}

.text-container {
  padding: 2rem;
  margin: 1.7rem;
  background: rgba(43, 43, 43, 0.8);
  height: max-content;
  align-self: center;
}

.paragraph-container {
  position: relative;
  width: max-content;
}

.paragraph-heading {
  margin: 1rem 0 2rem 0;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.paragraph-border {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  top: 30%;
  width: 100%;
  height: 35%;
  border: 1px solid var(--red) !important;
  box-sizing: border-box;
  z-index: 0;
}

/* Footer */
#footer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

/* --------------------------------------------------------------------------
  ---------------------------------- MEDIA QUERIES --------------------------
  --------------------------------------------------------------------------- */
@media all and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  .text-container {
    margin: 0;
  }
}

@media all and (min-width: 568px) {
  #content-row {
    padding: 14rem 0 3rem 0 !important;
  }

  #background-section {
    flex-flow: row-reverse;
    padding: 0 2rem 5rem 2rem;
  }

  #experience-section {
    flex-flow: row;
    padding: 0 2rem 5rem 2rem;
  }

  .image-container {
    padding: 0;
  }

  .img-wrapper {
    height: max-content;
  }
}

@media all and (min-width: 768px) {
  /* Navigation */
  .navbar-custom {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--darkgrey-rgba);
    color: var(--white);
    padding: 0.5rem 2rem !important;
  }

  .nav-link {
    font-size: 1.5rem;
    margin: 0 0 0 8rem !important;
    padding: 0 !important;
  }

  .navbar-toggler {
    font-size: 1.4rem !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .text-container {
    margin: 0;
  }

  #content-row {
    padding: 10rem 0 3rem 0 !important;
  }
}

@media all and (min-width: 1024px) {
  body {
    background-image: url(https://patrunjel.com/portfolio/assets/images/brick-lg.jpg);
  }

  a {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.8rem !important;
  }

  h5 {
    font-size: 1.4rem !important;
  }

  .navbar-custom {
    padding: 0.5rem 3rem !important;
  }

  .navbar-toggler {
    font-size: 1.5rem !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .navbar-custom a:hover,
  .navbar-custom h2:hover {
    transition: transform 400ms ease-in-out;
    color: var(--black);
    -webkit-text-decoration: underline overline;
    -webkit-text-decoration-color: var(--red);
    text-decoration: underline overline;
    text-decoration-color: var(--red);
    transform: scale(1.1);
  }

  .navbar-custom a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 100%;
    z-index: -1;
    transition: right 0.09s ease-in;
  }

  .navbar-custom a:hover:before {
    right: 0;
  }

  .logo {
    width: 5em;
  }

  h3 {
    font-size: 1.3rem;
    padding: 0;
  }

  #background-section {
    flex-flow: row;
  }

  .image-container {
    justify-content: center;
    margin: 0 !important;
  }

  .border {
    width: 75%;
    left: 9vw;
    top: -1.5vw;
  }

  .text-container {
    padding: 1.5rem 2.5rem !important;
  }

  @media all and (min-width: 1440px) {
    body {
      background-image: url(https://patrunjel.com/portfolio/assets/images/brick.jpg);
    }

    h5 {
      font-size: 1.8rem !important;
    }

    .logo {
      width: 6em;
    }

    .nav-link {
      font-size: 1.8rem;
      margin: 0 0 0 10rem !important;
    }

    p,
    a {
      font-size: 1.5rem;
    }

    .text-container {
      padding: 2.5rem 5rem 2.5rem 5rem !important;
    }

    h2 {
      font-size: 2rem !important;
    }

    h5 {
      font-size: 1.5rem;
    }
  }
}
